<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .a{
    height: 300px;
    width:40px;
  }
  div {
 height: 300px;
    width:40px;
}
</style>
  <title></title>
</head>
<body>
<a href="#">
<div class="a">
    <img src="http://icons.iconarchive.com/icons/fasticon/angry-birds/128/yellow-bird-icon.png" 
    onmouseover="this.src='https://lh3.googleusercontent.com/iOi6YJxQwMenT5UQWGPWTrFMQFm68IC4uKlFtARveZzVD5lTZ7fC47_rnnF7Tk48DpY=w300'"
    onmouseout="this.src='http://icons.iconarchive.com/icons/fasticon/angry-birds/128/yellow-bird-icon.png'"
    border="0" alt="" height="100px" width="100px" /></a></div>
</body>
</html>
